html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	/* border: 1px solid lightgray; */
}

body {
	font-size: 1.6rem;
	color: #696f8c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #101840;
}

.container {
	max-width: 720px;
	margin: 0 auto;
	padding: 48px 0;
	display: flex;
	justify-content: center;
}

button {
	margin: 8px 0px;
	padding: 16px 24px;
	border: none;
	border-radius: 4px;
	background-color: #d14343;
	color: white;
	cursor: pointer;
}
button:hover {
	background-color: #7d2828;
}
button:disabled {
	background-color: whitesmoke;
	color: lightgray;
}
